@base: #0ac5f4;
@text: #fff;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: @base;
    color: @text;
}

.wrapper {
     width: 100%;
     height: 100%;
}

h1 {
    background: -webkit-linear-gradient(lighten(@base, 30%), @text);
    -webkit-background-clip: text;
    font-family: 'Lato', sans-serif;
    text-align: center;
    -webkit-text-fill-color: transparent;
}

footer {
    font-family: 'Playball', cursive;
    margin-top: 50px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;

    .♥ {
        color: pink;
    }

    a {
        color: @text;
    }
}

.icon-github-circled {
    color: black;
}

