<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Excuses for programmers</title>
    <!--
    Hello! You can do more than just GET this page.
    Have a look at the Github repo for more information, it'll save you
    a lot of time if you're trying to figure out how to scrape the excuses.

    https://github.com/aaronbassett/Bad-Tools
    -->
    <meta name="description" content="Need something quick to tell your project manager? Excuses for programmers available as HTML, JSON, XML and Plain Text." />
    <meta name="keywords" content="programmer, developer, coder, programming, coding, code, excuses, lies, justification" />
    <meta name="author" content="me@aaronbassett.com" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

    <!-- Google -->
    <link rel="author" href="https://plus.google.com/+AaronBassettTM" />
    <link rel="canonical" href="http://www.codingexcuses.com/" />

    <!-- Facebook / OpenGraph -->
    <meta content="Excuses for programmers" property="og:site_name"/>
    <meta content="Need something quick to tell your project manager?" property="og:title"/>
    <meta content="en" property="og:locale"/>
    <meta content="http://i.imgur.com/ACYr5lu.png" property="og:image"/>
    <meta content="Excuses for programmers available as HTML, JSON, XML and Plain Text." property="og:description"/>

    <!-- Twitter -->
    <meta content="summary" name="twitter:card"/>
    <meta content="@aaronbassett" name="twitter:creator"/>
    <meta content="Excuses for programmers" name="twitter:title"/>
    <meta content="Excuses for programmers available as HTML, JSON, XML and Plain Text." name="twitter:description"/>
    <meta content="http://i.imgur.com/ACYr5lu.png" name="twitter:image"/>

    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//rawgithub.com/davatron5000/FitText.js/master/jquery.fittext.js"></script>

    <link href='{{ url_for('static', filename='css/github.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ url_for('static', filename='css/main.css') }}' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
    $(document).ready(function(){
        $("h1").fitText(1.2);
    })
    </script>
</head>

<body>
    <div class="wrapper">
        <h1>{{ excuse }}</h1>
    </div>

    <footer>
        <nav>
            <p>Made with <span class="♥">♥</span> by
            <a href="https://twitter.com/aaronbassett" title="Follow me on twitter. Wha do you have to lose?">@aaronbassett</a>.
            You can fork it on <a href="https://github.com/aaronbassett/Bad-Tools"><i class="icon-github-circled"></i></a></p>
        </nav>
    </footer>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53020725-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>